<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar email</title>
</head>

<body>
    <h1>Verificar email</h1>
    <p>Por favor, haga click en el siguiente enlace para verificar su email.</p>
    <a href="<%= link %>">Verificar email</a>
    <p>Si no ha solicitado la verificación de su email, por favor ignore este mensaje.</p>
    <p>Gracias</p>
</body>

</html>l